<%= form_for [:account, @address] do |f| %>

    <%= render partial: 'application/form-errors', locals: { object: @address } %>

    <div>
        <%= f.label :recipient %>
        <%= f.text_field :recipient %>
    </div>

    <div>
        <%= f.label :organisation %>
        <%= f.text_field :organisation %>
    </div>

    <div>
        <%= f.label :line_one %>
        <%= f.text_field :line_one %>
    </div>

    <div>
        <%= f.label :line_two %>
        <%= f.text_field :line_two %>
    </div>

    <div>
        <%= f.label :town %>
        <%= f.text_field :town %>
    </div>

    <div>
        <%= f.label :postcode %>
        <%= f.text_field :postcode %>
    </div>

    <div>
        <%= f.submit %>
    </div>

<% end %>