<nav class="admin-navigation">

    <%= link_to root_path do %>
        <%= image_tag 'luke-jamie-apparel.svg', class: 'logo' %>
    <% end %>

    <ul>

        <!-- Store front -->
        <li>
            <%= link_to root_path do %>
                <i class="material-icons">&#xE8D1;</i>
                <span>Store front</span>
            <% end %>
        </li>

        <!-- Admin Panel -->
        <li <%= 'active' if request.fullpath == '/admin' %>>
            <%= link_to admin_root_path do %>
                <i class="material-icons">&#xE8F1;</i>
                <span>Admin panel</span>
            <% end %>
        </li>

        <!-- Orders -->
        <li <%= 'active' if request.fullpath.start_with? admin_orders_path %>>
            <%= link_to admin_orders_path do %>
                <i class="material-icons">&#xE8CB;</i>
                <span>Orders</span>
            <% end %>
        </li>

        <!-- Products -->
        <li <%= 'active' if request.fullpath.start_with? admin_products_path %>>
            <%= link_to admin_products_path do %>
                <i class="material-icons">&#xE53B;</i>
                <span>Products</span>
            <% end %>
        </li>

        <!-- Promo Codes -->
        <li <%= 'active' if request.fullpath.start_with? admin_promo_codes_path %>>
            <%= link_to admin_promo_codes_path do %>
                <i class="material-icons">&#xE53F;</i>
                <span>Promo codes</span>
            <% end %>
        </li>

        <!-- Support Articles -->
        <li <%= 'active' if request.fullpath.start_with? admin_support_articles_path %>>
            <%= link_to admin_support_articles_path do %>
                <i class="material-icons">&#xE865;</i>
                <span>Support articles</span>
            <% end %>
        </li>

        <!-- Users -->
        <li <%= 'active' if request.fullpath.start_with? admin_users_path %>>
            <%= link_to admin_users_path do %>
                <i class="material-icons">&#xE7FB;</i>
                <span>Users</span>
            <% end %>
        </li>

        <!-- Analytics -->
        <li <%= 'active' if request.fullpath.start_with? '/analytics' %>>
            <%= link_to 'javascript:void(0)' do %>
                <i class="material-icons">&#xE85C;</i>
                <span>Analytics</span>
            <% end %>
        </li>

    </ul>
</nav>