<% content_for :subtitle do %>Orders<% end %>

<div class="admin-content-header">
    <h1>Orders</h1>
    <p><%= t('admin.order.subtitle') %></p>
</div>

<div class="admin-content-tools">

    <div class="search-wrapper">
        <%= form_tag admin_orders_path, method: :get, class: 'search-form' do %>
            <%= search_field_tag :query, params[:query], placeholder: 'Search orders' %>
            <%= submit_tag 'Search', name: nil %>
        <% end %>
        <i class="material-icons">&#xE8B6;</i>
    </div>

</div>

<%= render layout: 'admin/admin_list', locals: { objects: @orders } do %>
    <h2>There's nothing here...</h2>
    <p>...but tumbleweeds. Once you've received an order or two, you'll be able to view and manage them here.</p>
<% end %>