<% content_for :subtitle do %>Support articles<% end %>

<!-- Support articles header -->
<div class="admin-header">
    <h1>Support articles</h1>
</div>

<div class="admin-wrapper">

    <!-- Controls for dealing with a list -->
    <div class="list-controls">

        <%= render_search admin_support_search_path, 'Search articles' %>

        <!-- Create a new article -->
        <%= link_to t('admin.support_article.new'), new_admin_support_article_path, class: 'button' %>

    </div>

    <!-- Paginated list of articles -->
    <div class="list">

        <%= render_list_header do %>

            <!-- Set category of currently selected articles -->
            <div class="select" id="select-article-category">

                <!-- Toggles the select's dropdown -->
                <div class="select-button bulk-action">
                    <span>Category</span>
                    <i class="material-icons">&#xE5C5;</i>
                </div>

                <!-- Dropdown -->
                <ul class="options">

                    <!-- Category: guide -->
                    <li id="article-category-guide">
                        <i class="material-icons">&#xE86E;</i>
                        <span>Guide</span>
                    </li>

                    <!-- Category: policy -->
                    <li id="article-category-policy">
                        <i class="material-icons">&#xE90E;</i>
                        <span>Policy</span>
                    </li>

                    <!-- Category: misc -->
                    <li id="article-category-misc">
                        <i class="material-icons">&#xE2C7;</i>
                        <span>Miscellaneous</span>
                    </li>

                </ul>

            </div>

            <!-- Delete an article -->
            <%= link_to admin_support_delete_path,
                        remote: true,
                        method: :delete,
                        class: 'bulk-action',
                        data: { confirm: 'Are you sure? This action is potentially dangerous.' } do %>
                <i class="material-icons">&#xE872;</i>
                <span>Delete</span>
            <% end %>

        <% end %>

        <% if not @articles.empty? %>
            <div class="list-content">
                <%= render partial: 'admin/support_articles/support_article',
                           collection: @articles,
                           cached: true %>
            </div>
        <% else %>
            I'm empty. <!-- TODO -->
        <% end %>

    </div>

    <%= paginate @articles %>

    <%= render 'admin/copyright' %>

</div>