<% content_for :subtitle do %>Support articles<% end %>

<div class="admin-content-header">
    <h1>Support articles</h1>
    <p><%= t('admin.support_article.subtitle') %></p>
</div>

<div class="admin-content-tools">

    <div class="search-wrapper">
        <%= form_tag admin_support_articles_path, method: :get, class: 'search-form' do %>
            <%= search_field_tag :query, params[:query], placeholder: 'Search articles' %>
            <%= submit_tag 'Search' %>
        <% end %>
        <i class="material-icons">&#xE8B6;</i>
    </div>

    <%= link_to t('admin.support_article.new'), new_admin_support_article_path, class: 'button' %>

</div>

<%= render layout: 'admin/admin_list', locals: { objects: @articles } do %>
    <h2>There's nothing here...</h2>
    <p>...but tumbleweeds. Once you've created an article or two, you'll be able to view them here in all their glory.</p>
    <%= link_to t('admin.support_article.new'), new_admin_support_article_path, class: 'button' %>
<% end %>