<%= form_for [:admin, @promo_code], html: { class: 'admin-content-form'} do |f| %>

    <%= render partial: 'application/form-errors', locals: { object: @promo_code } %>

    <div>
        <%= f.label :code %>
        <p>Should be alphanumeric.</p>
        <%= f.text_field :code %>
    </div>

    <div>
        <%= f.label :label %>
        <p>A brief description about this code.</p>
        <%= f.text_field :label %>
    </div>

    <div>
        <%= f.label :discount %>
        <p>As a percentage.</p>
        <%= f.number_field :discount, min: '0', max: '100' %>
    </div>

    <div class="conjoined">

        <div>
            <%= f.label :start_date %>
            <%= f.date_field :start_date %>
        </div>

        <div>
            <%= f.label :finish_date %>
            <%= f.date_field :finish_date %>
        </div>

    </div>

    <div class="buttons">
        <%= f.submit @promo_code.new_record? ? 'Create promo code' : 'Update promo code', class: 'button' %>
        <%= link_to 'Cancel', admin_promo_codes_path, class: 'button button-secondary' %>
    </div>

<% end %>