<%= form_for [:admin, @promo_code], html: { class: 'admin-content-form'} do |f| %>

    <%= render partial: 'application/form-errors', locals: { object: @promo_code } %>

    <div>
        <%= f.label :code %>
        <%= f.text_field :code %>
    </div>

    <div>
        <%= f.label :label %>

        <div class="field-wrapper">
            <%= f.text_field :label %>
            <p class="hint">A brief description about this code.</p>
        </div>
    </div>

    <div>
        <%= f.label :discount %>

        <div class="field-wrapper">
            <%= f.number_field :discount %>
            <p class="hint">As a percentage.</p>
        </div>
    </div>

    <div>
        <%= f.label :start_date %>

        <div class="field-wrapper">
            <%= f.date_field :start_date %>
            <p class="hint">Note: will become valid at the start of this date.</p>
        </div>
    </div>

    <div>
        <%= f.label :finish_date %>

        <div class="field-wrapper">
            <%= f.date_field :finish_date %>
            <p class="hint">Note: will expire at the end of this date.</p>
        </div>
    </div>

    <div class="buttons">
        <%= link_to 'Cancel', admin_promo_codes_path, class: 'button button-secondary' %>
        <%= f.submit @promo_code.new_record? ? 'Create' : 'Update', class: 'button' %>
    </div>

<% end %>