<%= link_to edit_admin_promo_code_path(promo_code), class: 'admin-list-item' do %>

    <!-- Status icon -->
    <div id="promo-code-icon">
        <% if promo_code.active? %>
            <i class="material-icons active">&#xE614;</i>
        <% else %>
            <i class="material-icons inactive">&#xE615;</i>
        <% end %>
    </div>


    <!-- Promo code information -->
    <div class="grow">
        <p id="promo-code-code"><%= promo_code.code %></p>
        <p><%= promo_code.label %></p>
        <p class="dim">Updated <%= local_time_ago promo_code.updated_at %>.</p>
    </div>


    <!-- Discount -->
    <div>
        <p id="promo-code-discount">-<%= promo_code.discount %>%</p>
    </div>


    <!-- Dates and progress -->
    <div id="promo-code-dates">
        <p><div class="progress-bar"><span class="progress" style="width: <%= promo_code.percentage %>%;"></span></div></p>
        <div id="promo-code-date-range">
            <p>
                <%= local_time promo_code.start_date.at_beginning_of_day,  '%b %e, %Y' %> to
                <%= local_time promo_code.finish_date.at_end_of_day, '%b %e, %Y' %>
            </p>
        </div>
    </div>

<% end %>