<% content_for :subtitle do %>Promo codes<% end %>

<div class="admin-content-header">
    <h1>Promo codes</h1>
    <p><%= t('admin.promo_code.subtitle') %></p>
</div>

<div class="admin-content-tools">

    <div class="search-wrapper">
        <%= form_tag admin_promo_codes_path, method: :get, class: 'search-form' do %>
            <%= search_field_tag :query, params[:query], placeholder: 'Search promo codes' %>
            <%= submit_tag 'Search' %>
        <% end %>
        <i class="material-icons">&#xE8B6;</i>
    </div>

    <%= link_to t('admin.promo_code.new'), new_admin_promo_code_path, class: 'button' %>

</div>

<%= render layout: 'admin/admin_list', locals: { objects: @promo_codes } do %>
    <h2>There's nothing here...</h2>
    <p>...but tumbleweeds. Once you've created a promo code or two, you'll be able to view them here in all their glory.</p>
    <%= link_to t('admin.promo_code.new'), new_admin_promo_code_path, class: 'button' %>
<% end %>