<%= form_for [:admin, @product] do |f| %>

    <%= render partial: 'application/form-errors', locals: { object: @product } %>

    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div>

    <div>
        <%= f.label :price %>
        <%= f.number_field :price %>
    </div>

    <div>
        <%= f.check_box :hidden %>
        <%= f.label :hidden %>
    </div>

    <div class="buttons">
        <%= link_to 'Cancel', admin_products_path, class: 'button button-secondary' %>
        <%= f.submit @product.new_record? ? 'Create' : 'Update', class: 'button' %>
    </div>

<% end %>