<%= form_for [:admin, @product], html: { class: 'admin-content-form'} do |f| %>

    <%= render partial: 'application/form-errors', locals: { object: @product } %>

    <div>
        <%= f.label :name %>
        <p>Should be unique.</p>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :description %>
        <p>Markdown is supported. See <a href="https://guides.github.com/features/mastering-markdown/#syntax" target="_blank">this guide</a> for help.</p>
        <%= f.text_area :description, class: 'CodeMirror' %>
    </div>

    <div>
        <%= f.label :price %>
        <%= f.number_field :price %>
    </div>

    <div>
        <%= f.check_box :hidden %>
        <%= f.label :hidden %>
    </div>

    <div class="buttons">
        <%= f.submit @product.new_record? ? 'Create product' : 'Update product', class: 'button' %>
        <%= link_to 'Cancel', admin_products_path, class: 'button button-secondary' %>
    </div>

<% end %>