<%= link_to product_path(product), class: 'brick', title: product.name do %>

    <div class="brick-body">
        <div class="banners">
            <% if not product.in_stock? %>
                <div class="banner" id="sold-out-banner">Sold out</div>
            <% elsif product.on_sale? %>
                <div class="banner" id="sale-banner"><%= (product.discount * 100).round %>% Off</div>
            <% end %>
        </div>
        <div class="image">
            <%= image_tag product.display_picture.url(:display) %>
        </div>
    </div>

    <div class="brick-footer">
        <p class="name"><%= product.name %></p>
        <p>
            <% if product.on_sale? %>
                <span class="strike"><%= number_to_currency product.price, unit: '£' %></span>
                <span class="discount"><%= number_to_currency product.price * (1 - product.discount), unit: '£' %></span>
            <% else %>
                <%= number_to_currency product.price, unit: '£' %>
            <% end %>
        </p>
    </div>

<% end %>