<% content_for :title do %><%= @product.name %><% end %>

<% content_for :modals do %>
    <div class="modal" id="add-to-cart">
        Hello
    </div>
<% end %>

<div class="wrapper">

    <div class="product-wrapper">

        <!-- Display picture -->
        <div class="display-picture">
            <div class="banners">
                <% if not @product.in_stock? %>
                    <div class="banner" id="sold-out-banner">Sold out</div>
                <% elsif @product.on_sale? %>
                    <div class="banner" id="sale-banner"><%= (@product.discount * 100).round %>% Off</div>
                <% end %>
            </div>
            <%= image_tag @product.display_picture.url(:full) %>
        </div>

        <!-- Product information -->
        <div class="product-info">

            <h2 class="category"><%= @product.category %></h2>
            <h1><%= @product.name %></h1>

            <p class="value">
                <% if @product.on_sale? %>
                    <span class="discount"><%= number_to_currency @product.price * (1 - @product.discount), unit: '£', strip_insignificant_zeros: true %></span>
                    <span class="strike">normally <%= number_to_currency @product.price, unit: '£', strip_insignificant_zeros: true %></span>
                <% else %>
                    <%= number_to_currency @product.price, unit: '£', strip_insignificant_zeros: true %>
                <% end %>
            </p>

            <%= markdown_simple @product.description %>

            <div class="buttons">

                <% if @product.in_stock? %>
                    <!-- Add product to cart -->
                    <div class="cart-toggle button">
                        <i class="material-icons">&#xE854;</i>
                        <span>Choose size</span>
                    </div>
                <% end %>

                <!-- Add product to wishlist -->
                <div class="wishlist-toggle button">
                    <i class="material-icons">&#xE87E;</i>
                    <span>Add to wishlist</span>
                </div>

            </div>

        </div>

    </div>

    <h3>Gallery</h3>

    <div class="masonry">
        <div class="brick">
            <div class="brick-body">
                <div class="image"><%= image_tag @product.display_picture.url(:display) %></div>
            </div>
        </div>
    </div>

</div>