<% content_for :styles do %>
    <%= stylesheet_link_tag 'account', media: 'all', 'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :content do %>
    <%= render 'header' %>

    <div class="wrapper">

        <div class="account-navigation">
            <p>Navigation</p>
            <%= render 'account/navigation' %>
        </div>

        <div class="account-content">
            <%= yield %>
        </div>

    </div>

    <%= render 'footer' %>
<% end %>

<%= render template: 'layouts/application' %>