<% content_for :title do %>
    <%= content_for?(:subtitle) ? yield(:subtitle) + ' (Admin Panel)' : 'Admin Panel' %>
<% end %>

<% content_for :styles do %>
    <%= stylesheet_link_tag 'admin',
                            media: 'all',
                            'data-turbolinks-track': 'reload' %>
<% end %>

<% content_for :scripts do %>
    <%= javascript_include_tag 'codemirror.js',
                               'markdown.js',
                               'admin.js' %>
<% end %>

<% content_for :content do %>

    <%= render 'admin/navigation' %>

    <div class="admin-wrapper">
        <%= yield %>
        <%= render 'admin/copyright' %>
    </div>

<% end %>

<%= render template: 'layouts/application' %>