<!DOCTYPE html>
<html>

    <head>
        <title><%= yield(:title).empty? ? 'Luke Jamie Apparel' : yield(:title) %> | lukejamie.co.uk</title>

        <meta charset="UTF-8" />
        <meta name="author" content="Sean Bailey, sean@seanbailey.io" />
        <meta name="copyright" content="Copyright 2017, Luke Jamie. All Rights Reserved." />

        <!--
            Mobile themes
             1. Chrome, Firefox OS, and Opera
             2. Windows phones, IE, and Edge
             3. Safari
        -->
        <meta name="theme-color"
              content="<%= yield(:theme).empty? ? 'hsl(0, 0%, 17%)' : yield(:theme) %>" />
        <meta name="msapplication-navbutton-color"
              content="<%= yield(:theme).empty? ? 'hsl(0, 0%, 17%)' : yield(:theme) %>" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <!-- Fix mobile viewports for responsive design. -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag 'application',
                                'https://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Mono:400,500,700|Rubik:700" rel="stylesheet',
                                'https://fonts.googleapis.com/icon?family=Material+Icons',
                                media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= yield :styles %>

        <script
            src="https://code.jquery.com/jquery-3.3.0.min.js"
            integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4="
            crossorigin="anonymous"></script>

        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= yield :scripts %>

    </head>

    <body>
        <%= render 'flashes' %>
        <%= content_for?(:content) ? yield(:content) : yield %>
    </body>

</html>
